/* fork from: https://github.com/sfc-arch/remark-theme/blob/gh-pages/blue_standard/remark_theme_blue_standard.css*/
/*
 * Font settings
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
    font-family: 'Helvetica Neue Light', 'Helvetica Light', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
}

/*
 * Global settings
 */
.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
    font-weight: normal;
}
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content p {
    margin: 0.5em 0;
}
.remark-slide-content {
    font-size: 1.5em;
    padding: 0.5em 2em;
}
.remark-slide-content h1 {
    font-size: 2.5em;
}
.remark-slide-content h2 {
    font-size: 1.7em;
}
.remark-slide-content.inverted {
    color: #fff;
}

/*
 * Code settings
 */
.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

/*
 * Slide number settings
 */
.remark-slide-number {
    font-size: 0.8em;
    bottom: 0.1em;
    right: 0.5em;
}

/*
 * Background image settings
 */
.remark-slide-content {
    background-size: cover !important;
    background-position: center !important;
}

/*
 * Font size class
 */
.remark-slide-content .font-small {
    font-size: 0.7em;
}
.remark-slide-content .font-middle {
    font-size: 1em;
}
.remark-slide-content .font-large {
    font-size: 1.3em;
}

/*
 * Margin class
 */
.remark-slide-content .margin-top-small {
    margin-top: 1em;
}
.remark-slide-content .margin-top-middle {
    margin-top: 2em;
}
.remark-slide-content .margin-top-large {
    margin-top: 4em;
}
.remark-slide-content .margin-bottom-small {
    margin-bottom: 1em;
}
.remark-slide-content .margin-bottom-middle {
    margin-bottom: 2em;
}
.remark-slide-content .margin-bottom-large {
    margin-bottom: 4em;
}
.remark-slide-content .margin-right-small {
    margin-right: 1em;
}
.remark-slide-content .margin-right-middle {
    margin-right: 2em;
}
.remark-slide-content .margin-right-large {
    margin-right: 4em;
}
.remark-slide-content .margin-left-small {
    margin-left: 1em;
}
.remark-slide-content .margin-left-middle {
    margin-left: 2em;
}
.remark-slide-content .margin-left-large {
    margin-left: 4em;
}
.remark-slide-content .padding-top-small {
    padding-top: 1em;
}
.remark-slide-content .padding-top-middle {
    padding-top: 2em;
}
.remark-slide-content .padding-top-large {
    padding-top: 4em;
}
.remark-slide-content .padding-bottom-small {
    padding-bottom: 1em;
}
.remark-slide-content .padding-bottom-middle {
    padding-bottom: 2em;
}
.remark-slide-content .padding-bottom-large {
    padding-bottom: 4em;
}
.remark-slide-content .padding-right-small {
    padding-right: 1em;
}
.remark-slide-content .padding-right-middle {
    padding-right: 2em;
}
.remark-slide-content .padding-right-large {
    padding-right: 4em;
}
.remark-slide-content .padding-left-small {
    padding-left: 1em;
}
.remark-slide-content .padding-left-middle {
    padding-left: 2em;
}
.remark-slide-content .padding-left-large {
    padding-left: 4em;
}

/*
 * Title page style
 */
.remark-slide-content.title {
    padding: 0 2em;
}
.remark-slide-content.title {
    text-align: center;
}
.remark-slide-content.title::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: black;
}
.remark-slide-content.title h1 {
    height: 65%;
    padding-top: 23%;
    margin: 0 0 0.7em 0;
}
.remark-slide-content.title p {
    position: relative;
    z-index: 1;
    color: #fff;
}
.remark-slide-content.title a {
    color: #fff;
}
.remark-slide-content.title a:hover {
    color: #888;
}
.remark-slide-content.title .remark-slide-number {
    color: #fff;
}

/*
 * Default page style
 */
.remark-slide-content:not(.title):not(.blank)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4.5em;
    margin: 0;
    padding: 0;
    background-color: black;
}
.remark-slide-content:not(.title):not(.blank) h2 {
    color: #fff;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0.25em 0 0.6em 0;
}

/*
 * Vertical centered text
 */
.remark-slide-content .vertical-center {
    display: table;
    table-layout: fixed;
    height: 85%;
    width: 100%;
}
.remark-slide-content.blank .vertical-center {
    height: 100%;
}
.remark-slide-content .vertical-center>* {
    display: table-cell;
    height: auto;
    vertical-align: middle;
}
.remark-slide-content .vertical-center::before,
.remark-slide-content .vertical-center::after {
    display: table-row;
    content: '';
}

/*
 * Emphasized text
 */
.remark-slide-content h4 {
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.25em;
    font-weight: normal;
    background-color: #2ecc71;
    border-radius: 10px;
}
.remark-slide-content .inverted h4 {
    background-color: transparent;
    border: 3px #27ae60 solid;
    color: #27ae60;
}
.remark-slide-content .inverted h4 a {
    color: #27ae60;
}

/*
 * Bold text
 */
.remark-slide-content .bold {
    font-weight: bold;
}

/*
 * Link text
 */
.remark-slide-content a {
    color: #000;
}
.remark-slide-content a:hover {
    color: #888;
}

/*
 * Quotation
 */
.remark-slide-content .quote {
    font-family: serif;
    font-style: italic;
}
.remark-slide-content .quote::before {
    content: open-quote;
}
.remark-slide-content .quote::after {
    content: close-quote;
}

/*
 * Footnote
 */
.remark-slide-content .footnote {
    color: #888;
    font-size: 0.7em;
}

/*
 * Listing style
 */
.remark-slide-content ul>li {
    list-style: none;
    position: relative;
    margin: 0.4em 0;
}
.remark-slide-content ul>li::before {
    content: "＊";
    position: absolute;
    left: -1.3em;
    color: #c0392b;
}
.remark-slide-content ul>li>ul>li::before {
    content: "";
    display: none;
}
.remark-slide-content ul>li>ul>li {
    list-style-type: disc;
}
.remark-slide-content ul>li>ul>li>ul>li {
    list-style-type: circle;
}
.remark-slide-content ol>li {
    margin: 0.4em 0;
}

/*
 * Code block
 */
.remark-code {
    padding: 1em !important;
    border-radius: 10px;
    word-wrap: break-word;
}

/*
 * Table
 */
.remark-slide-content table {
    width: 100%;
    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 3px;
}
.remark-slide-content table th {
    padding: 0.7em;
    background-color: #7f8c8d;
    color: #fff;
    font-weight: normal;
}
.remark-slide-content table td {
    padding: 0.7em;
    background-color: #ced4d8;
}
.remark-slide-content .inverted table {
    border-spacing: 0px;
}
.remark-slide-content .inverted table th {
    background-color: transparent;
    border: 2px solid #ced4d8;
    color: #000;
    font-weight: bold;
}
.remark-slide-content .inverted table td {
    background-color: transparent;
    border: 2px solid #ced4d8;
}
.remark-slide-content table th:first-child {
    border-radius: 10px 0 0 0;
}
.remark-slide-content table th:last-child {
    border-radius: 0 10px 0 0;
}
.remark-slide-content table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.remark-slide-content table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/*
 * Image sizing
 */
.remark-slide-content .small img {
    max-height: 10em;
    min-height: 10em;
}
.remark-slide-content .middle img {
    max-height: 15em;
    min-height: 15em;
}
.remark-slide-content .large img {
    max-height: 20em;
    min-height: 20em;
}
